<h1>Our available restaurants!</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
  <li>Name: <%= link_to restaurant.name, restaurant_path(restaurant) %> rating: <%= "â­ï¸" * restaurant.rating%> </li>
  <% end %>
</ul>
